@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Pixelify Sans', sans-serif;
  background: #23a485;
}
main{
  height: 100vh;
  color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main p{
  font-style: italic;
}
h1{
  font-size: 2em  ;
  color: goldenrod;
  text-align: center;
  margin: 20px 0;
}
.cardsContainer{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
button {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1.5rem;
  background: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  cursor: pointer;
  font: bold;
}
button:hover{
  opacity: 0.8;
}